<h1><%= "#{t('body.common_entity.action.edit')} #{t('body.gidappf_entity.matter.model')}"  %></h1>

<%= render 'form', matter: @matter %>

<%= link_to t('body.common_entity.action.show'), @matter %> |
<%= link_to t('body.common_entity.action.back'), matters_path %>
