<h1><%= "#{t('body.common_entity.action.new_her')} #{t('body.gidappf_entity.matter.model')}"  %></h1>

<%= render 'form', matter: @matter %>

<%= link_to t('body.common_entity.action.back'), matters_path %>
