<!--###################################################################################-->
<!--# Universidad Nacional Arturo Jauretche                                           #-->
<!--# Instituto de Ingeniería y Agronomía -Ingeniería en Informática                  #-->
<!--# Práctica Profesional Supervisada Nro 12 - Segundo cuatrimestre de 2018          #-->
<!--#    <<Gestión Integral de Alumnos Para el Proyecto Fines>>                       #-->
<!--# Tutores:                                                                        #-->
<!--#    - UNAJ: Dr. Ing. Morales, Martín                                             #-->
<!--#    - ORGANIZACIÓN: Ing. Cortes Bracho, Oscar                                    #-->
<!--#    - ORGANIZACIÓN: Mg. Ing. Diego Encinas                                       #-->
<!--#    - TAPTA: Dra. Ferrari, Mariela                                               #-->
<!--# Autor: Ap. Daniel Rosatto <danielrosatto@gmail.com>                             #-->
<!--# Archivo:                                                                        #-->
<!--#GIDAPPF/gidappf/app/views/client_side_validators/_giddappf_alphanumerics.html.erb#-->
<!--###################################################################################-->

<!--definicion de la estrategia basada en el match de la expresion regular de event.target-->
<%
  target_reg_exp_strategy = "$(document).ready(function() {
    str=String($(event.target).val());
    rexp=String($(event.target).val().match(/[\\w\\W]+/gim));
    if( str !== rexp ) {
      $(event.target).val('');
      $( \"<p class='validation-error'>Alphanumeric error.</p>\" ).appendTo($(event.target).parent());
    }
  });"
%>

<!--Aplicacion de la estrategia en el formmulario elegido para el campo -->
<%= valuable_gidappf_field.text_field :value, onfocusout: target_reg_exp_strategy %>
