<h1><%= "#{t('body.common_entity.action.new_her')} #{t('body.gidappf_entity.profile.model')}"  %></h1>

<%= render 'form', profile: @profile %>

<%= link_to t('body.common_entity.action.back'), profiles_path %>
