<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Summary</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% inputs.where(enable: true).each do |input| %>
      <tr>
        <td><%= link_to "#{input.title}", input %></td>
        <td><%= input.summary %></td>
        <td><%= link_to 'Destroy', disable_input_path(input), data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
