body {
  background-color: #fff;
  color: #333;
  margin: 1%;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 95%;
  line-height:  normal;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 95%;
  line-height:  normal;
}

pre {
  background-color: #eee;
  padding: 2%;
  font-size: normal;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

// th {
//   padding-bottom: 2%;
// }
//
// td {
//   padding: 0% 1% 2%;
// }

div {
  &.field, &.actions {
    margin-bottom: 1%;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 1%;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 95%;
  border: 1% solid red;
  padding: 2% 2% 0;
  margin-bottom: 3%;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 1% 1% 1% 1%;
    font-size: normal;
    margin: -1% -1% 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: normal;
    list-style: square;
  }
}

label {
  display: block;
}
