<h1><%= "#{t('body.common_entity.action.edit')} #{t('body.gidappf_entity.time_sheet_hour.model')}"  %></h1>

<%= render 'form', time_sheet_hour: @time_sheet_hour %>

<%= link_to t('body.common_entity.action.show'), @time_sheet_hour %> |
<%= link_to t('body.common_entity.action.back'), time_sheet_hours_path %>
