<h1>Gidappf can't deliver cookie...</h1>
<p>Cookies are disabled in your web browser, please activate in preferences</p>
<p class="lead">
  <ul>
    <li>
      <p> In Firefox: Menu(&#9776;)&rarr;Preferences&rarr;Privacy & security(&#128274;)&rarr;Content Blocking: Click in Strict or Standard</p>
    </li>
    <li>
      <p> In Chrome: type <%= link_to 'chrome://settings/content/cookies','chrome://settings/content/cookies'%> in navigation bar and click in switch lock</p>
    </li>
  </ul>
</p>
