<h1><%= "#{t ('gidappf_catchs_exception.first_password_detect.title')} #{@userprofile.name}" %></h1>
<p><%= t ('gidappf_catchs_exception.first_password_detect.summary') %></p>

<p class="lead">
  <ul>
    <li>
      <%= link_to t('gidappf_catchs_exception.first_password_detect.link1'), user_registration_path(:user => {:project_view => 'first_password_detect'}), :method => :put %>
    </li>
    <li>
      <%= link_to t('body.common_entity.action.back'), root_path %>
    </li>
  </ul>
</p>
