<h1>Welcome, user with profile:<%= " #{@userprofile.name}" %></h1>
<p>First time, default access, change password to continue... </p>

<p class="lead">
  <ul>
    <li>
      <%= link_to "Change default credentials", user_registration_path(:user => {:project_view => 'first_password_detect'}), :method => :put, :confirm => "Are you sure?" %>
    </li>
    <li>
      <%= link_to 'Back', root_path %>
    </li>
  </ul>
</p>
