<h1><%= t ('gidappf_catchs_exception.not_record_found_detect.title') %></h1>

<p class="lead">
  <ul>
    <li>
      <%= link_to t('body.common_entity.action.back'), root_path %>
    </li>
  </ul>
</p>
