<!-- ############################################################################## -->
<!-- # Universidad Nacional Arturo Jauretche                                      # -->
<!-- # Instituto de Ingeniería y Agronomía -Ingeniería en Informática             # -->
<!-- # Práctica Profesional Supervisada Nro 12 - Segundo cuatrimestre de 2018     # -->
<!-- #    <<Gestión Integral de Alumnos Para el Proyecto Fines>>                  # -->
<!-- # Tutores:                                                                   # -->
<!-- #    - UNAJ: Dr. Ing. Morales, Martín                                        # -->
<!-- #    - ORGANIZACIÓN: Ing. Cortes Bracho, Oscar                               # -->
<!-- #    - ORGANIZACIÓN: Mg. Ing. Diego Encinas                                  # -->
<!-- #    - TAPTA: Dra. Ferrari, Mariela                                          # -->
<!-- # Autor: Ap. Daniel Rosatto <danielrosatto@gmail.com>                        # -->
<!-- # Archivo GIDAPPF/gidappf/app/views/layouts/_navigation.html.erb             # -->
<!-- ############################################################################## -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Gidappf', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <!-- ############################################################### -->
        <!-- # Renderización del menú basado en roles                      # -->
        <!-- ############################################################### -->
        <%= render RoleAccess.get_user_links(current_user) %>
        <li><%= if I18n.locale.eql?(I18n.available_locales.first) then
              select_tag "gidappf_lang_dropdown",
                options_from_collection_for_select(I18n.available_locales, "to_s", "to_s"),
                onchange:  "$(document).ready(function() {window.location.href= '/?locale='+$(event.target).val();});"
            else
              select_tag "gidappf_lang_dropdown",
                options_from_collection_for_select(I18n.available_locales.rotate, "to_s", "to_s"),
                onchange:  "$(document).ready(function() {window.location.href= '/?locale='+$(event.target).val();});"
            end %></li>
      </ul>
    </div>
  </div>
</nav>
