<h1><%= "#{t('body.common_entity.action.new_her')} #{t('body.gidappf_entity.commission.model')}"  %></h1>

<%= render 'form', commission: @commission %>

<%= link_to t('body.common_entity.action.back'), commissions_path %>
