<!-- ############################################################################ -->
<!-- # Universidad Nacional Arturo Jauretche                                    # -->
<!-- # Instituto de Ingeniería y Agronomía -Ingeniería en Informática           # -->
<!-- # Práctica Profesional Supervisada Nro 12 - Segundo cuatrimestre de 2018   # -->
<!-- #    <<Gestión Integral de Alumnos Para el Proyecto Fines>>                # -->
<!-- # Tutores:                                                                 # -->
<!-- #    - UNAJ: Dr. Ing. Morales, Martín                                      # -->
<!-- #    - ORGANIZACIÓN: Ing. Cortes Bracho, Oscar                             # -->
<!-- #    - ORGANIZACIÓN: Mg. Ing. Diego Encinas                                # -->
<!-- # Autor: Ap. Daniel Rosatto <danielrosatto@gmail.com>                      # -->
<!-- # GIDAPPF/gidappf/app/views/campus_magnaments/_docents_check_boxes.html.erb# -->
<!-- ############################################################################ -->
<% comms_period.each do |timme_sheet_hour| %>
  <% if timme_sheet_hour.matter_id.eql?(profile.profile_keys.find_by(key:User.find_by(email: type).documents.first.profile.profile_keys.find(49).key).profile_values.first.value.to_i) then %>
  <!-- redirecciona a la accion selected_commission con los parametros id y box_selected con valores dados por check_box_tag -->
    <%= check_box_tag(nil,usercommissionrole.commission_id,timme_sheet_hour.time_sheet.commission.id == usercommissionrole.commission_id,
        onclick: "$(document).ready(function() {
            window.location.href='"+
              campus_magnaments_set_campus_segmentation_path(
                id: profile.id,box_selected: timme_sheet_hour.time_sheet.id.to_s,
                def_period: period,profile_type: type,
                ucr_id: usercommissionrole.id,tsh_id: timme_sheet_hour.id)+
            "'});",
        :disabled  => timme_sheet_hour.time_sheet.selectable?) %>
    <%= label_tag nil ,class: 'gidappf-small_label' do %>
      <p><%="#{timme_sheet_hour.occupied_hour_fmt}#{timme_sheet_hour.matter.name}#{timme_sheet_hour.time_sheet.commission_info}"%></p>
    <%  end %>
  <% end %>
<% end %>
